.reset-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e84b30;
    border: 2px solid #e74327;
    box-shadow: 1px 1px 3px 2px blueviolet;
    -webkit-transition: background-color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, box-shadow 200ms ease;
}

.reset-button:hover {
    cursor: pointer;
}

.end-frame-container {
    /* position: absolute; */
}

.Gameover{
    margin-top: 40%;
    font-size: xx-large;
    font-family: 'Press Start 2P' ;
}