html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  max-height: 50rem;
}

.PetFrame {
  width: 100%;
  height: 100%;
  background: #AE8CA3;
  text-align: center;
  position: relative;
  border-radius: 54%/65% 65% 47% 47%;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: 0.6s ease-in-out 0s 1 scaleOut;
}

@keyframes scaleOut {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
  }
}

.progress-health {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: grey;
}

.progress-hunger {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 76%;
  background-color: grey;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 2.6rem;
  background-color: #95D9DA;
  transition: width 150ms;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* b3ml aldaqera alsfra alfadee mn fwq  */

.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 8px 10px;
  transition: all .05s ease-in-out;
}

.button:hover {
  transform: scale(1.3);
}

.button:active {
  transform: scale(0.8);
}

.reset-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 8px 10px;
  transition: all 0.2s ease-in-out;
}

.reset-button:hover {
  transform: rotate(360deg);
}

.input-form-container {
  background-color: transparent;
}

#name-input {
  outline: none;
  height: 1.8rem;
  width: 15rem;
  font-size: larger;
  border-radius: 1rem;
  padding-left: 1rem;
  border: solid white 1px;
}

#submit-btn {
  background: #AE8CA3;
  color: white;
  border-style: outset;
  border-color: #eee;
  height: 2rem;
  width: 2rem;
  font-size: larger;
  border-radius: 1rem;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
  margin-top: 1rem;
  margin-left: 1rem;
  outline: none;
  border: solid white 1px;
}

.err-msg {
  color: #ffffff;
}

.start {
  margin-top: 40%;
  font-size: xx-large;
  font-family: 'Press Start 2P';
}

.img {
  margin-top: 100px;
}

.reset-button:hover {
  cursor: pointer;
}

.Gameover {
  margin-top: 40%;
  font-size: xx-large;
  font-family: 'Press Start 2P';
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
}

.name h1 {
  color: #ffe3b0;
}

.user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  margin-right: 1rem;
  border: solid pink 1px;
}

.img-user {
  display: flex;
  flex-direction: row;
}

.emoji {
  color: white;
  animation: 0.6s ease-in-out 0s 1 scaleOut;
}